{% extends '::backend/backendLayout-B.html.twig' %}

    {% block headLibelle %}
        Ajouter une Agence  ||  <span class="text-primary"> <a href="{{ path('em_backend_litesingleagence') }}">  Mon Agence</a></span>

    {% endblock headLibelle %}

{% block contenu %}

    {% include('EmBackendBundle:Backend:fileContent/addagencesContent.html.twig') %}

{% endblock contenu %}