{% extends '::backend/backendLayout.html.twig' %}

    {% block headLibelle %}
        Gestion des Types Immobiliers<span class="text-primary"> <a href="{{ path('em_backend_listetypeimmo') }}"> Voir liste </a></span>

    {% endblock headLibelle %}

{% block contenu %}

    {% include('EmBackendBundle:Backend:fileContent/addtypeimmoContent.html.twig') %}

{% endblock contenu %}