{% extends '::backend/backendLayout.html.twig' %}

    {% block headLibelle %}
        Gestion des TypesSaisonniers<span class="text-primary"> </span>

    {% endblock headLibelle %}

{% block contenu %}

    {% include('EmBackendBundle:Backend:fileContent/addtypesaisonContent.html.twig') %}

{% endblock contenu %}