{% extends '::backend/backendLayout.html.twig' %}

    {% block headLibelle %}
        Liste des  pages  <span class="text-primary"><a href="{{ path('em_backend_createpagesite', {'idpage' : 'All'}) }}"> Ajouter</a></span>

    {% endblock headLibelle %}

{% block contenu %}

    {% include('EmBackendBundle:Backend:fileContent/listepagesiteContent.html.twig') %}

{% endblock contenu %}