{% extends '::backend/backendLayout.html.twig' %}

    {% block headLibelle %}
        Gestion de l'actualité  <span class="text-primary"> <a href="{{ path('em_backend_addnews', {'idpage' : 'All' }) }}"> Ajouter un article </a></span>

    {% endblock headLibelle %}

{% block contenu %}

    {% include('EmBackendBundle:Backend:fileContent/listenewsContent.html.twig') %}

{% endblock contenu %}