{% extends '::backend/backendLayout-B.html.twig' %}

    {% block headLibelle %}
       Liste des  Hôteliers bannis sur Afrkhotel  <span class="text-primary">  Consulter </span>

    {% endblock headLibelle %}

{% block contenu %}

    {% include('EmBackendBundle:Backend:fileContent/listehoteliersbannisContent.html.twig') %}

{% endblock contenu %}