{% trans_default_domain 'FOSUserBundle' %}


<div id="content-wrapper" class="site-content-wrapper site-pages">
    <div id="content" class="site-content layout-boxed">
        <div class="container">

            <div class="col-md-12">

                <h2 class="text-center">Reinialisation éffectuée avec succès!</h2>
                <h5 class="text-center mb30"> {{ 'resetting.check_email'|trans({'%email%': email}) }}</h5>


            </div>


        </div>
        <!-- .container -->
    </div>
    <!-- .site-content -->
</div>





