{% extends '::frontend/layoutdetail.html.twig' %}
{% block Title %} Reservation Hôtelière | HomeMobilite - Vente - Location - Loue {% endblock %}

{% block headerMenuFrontend %}
    {{   render (controller("EmFrontendBundle:Frontend:headerMenuFrontend",{'slug': 'activite'})) }}
{% endblock headerMenuFrontend %}

{% block titremenu %} <span class="btn-large btn-green">Reinitiaisation : Mot de passe  </span> {% endblock titremenu %}


{% block Contenu %}



    <div id="content-wrapper" class="site-content-wrapper site-pages">
        <div id="content" class="site-content layout-boxed">
            <div class="container">

                <div class="col-md-12">

                    <h2 class="text-center">Oups desolé une erreur a été rencontrée!</h2>
                    <h5 class="text-center mb30"> {{ 'resetting.check_email'|trans({'%email%': email}) }}</h5>


                </div>


            </div>
            <!-- .container -->
        </div>
        <!-- .site-content -->
    </div>






{% endblock Contenu %}