
{% extends '::backend/backendLayout.html.twig' %}

    {% block headLibelle %}
        Modifier  <span class="text-primary">, Mes accès </span>

    {% endblock headLibelle %}

{% block contenu %}

    {% include('EmBackendBundle:ChangePassword:changePassword_content.html.twig') %}

{% endblock contenu %}