<div class="tab-pane active" id="mainmenu">
    <h5 class="sidebar-title">Superviseur</h5>
    <ul class="nav nav-pills nav-stacked nav-quirk">
        <li class="active"><a href="{{ path('em_backend_homepage') }}"><i class="fa fa-home"></i> <span>Accueil</span></a></li>
        <li><a href="#"> <span>retour au site</span></a></li>
       <!-- <li><a href="#"><i class="fa fa-map-marker"></i> <span>Maps</span></a></li>-->
    </ul>

    <h5 class="sidebar-title">Actions</h5>
    <ul class="nav nav-pills nav-stacked nav-quirk">

        <li class="nav-parent"><a href=""><i class="fa fa-building-o"></i> <span>Hôteliers</span></a>
            <ul class="children">
                <li><a href="{{ path('em_backend_listehoteliernews') }}">Nouveaux</a></li>
                <li><a href="{{ path('em_backend_listehoteliers') }}">Liste Hôteliers</a></li>

            </ul>
        </li>

        <li class="nav-parent"><a href=""><i class="fa fa-file-text"></i> <span>Réservations</span></a>
            <ul class="children">
                <li><a href="{{ path('em_backend_listereservation') }}">News(4)</a></li>
                <li><a href="#">Historique(4)</a></li>

            </ul>
        </li>

    </ul>
</div>