{% trans_default_domain 'FOSUserBundle' %}

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">Mes informations :  </h4>
    </div>
    <div class="panel-body">
        <br>
        <form  class="form-horizontal" >
            <div class="input-group mb15">

                <p>{{ 'profile.show.username'|trans }} : {{ user.username }}</p>

            </div>
            <div class="input-group mb15">

                <p> {{ 'profile.show.email'|trans }} : {{ user.email }}</p>

            </div>

        </form>

    </div>
</div>