{% extends '::frontend/layoutdetail.html.twig' %}
{% block Title %} Reservation Hôtelière | HomeMobilite - Vente - Location - Loue {% endblock %}

{% block headerMenuFrontend %}
    {{   render (controller("EmFrontendBundle:Frontend:headerMenuFrontend",{'slug': 'activite'})) }}
{% endblock headerMenuFrontend %}

{% block titremenu %} <span class="btn-large btn-green">Reservation location de luxe à {{datasincerooms.agences.ville }} </span> {% endblock titremenu %}

{% block Contenu %}
    {% include 'EmFrontendBundle:filesContent:chambreencoursreservationContent.html.twig' %}
{% endblock Contenu %}