{% extends '::frontend/layoutdetail.html.twig' %}
{% block Title %}{% if recherche is defined %} {{ recherche }} {% endif %}  omeMobilite - Vente - Location - Loue {% endblock %}

{% block headerMenuFrontend %}
    {{   render (controller("EmFrontendBundle:Frontend:headerMenuFrontend",{'slug': "home"})) }}
{% endblock headerMenuFrontend %}

{% block titremenu %}<span class="btn-large btn-danger"> {% if  pays is defined  %} {{ pays.libelle }} {% endif %} {% if recherche is defined %} |  {{ recherche }} :  |  {% endif %}</span>{% endblock titremenu %}
{% block Contenu %}

    {% include 'EmFrontendBundle:filesContent:listeimmoContent.html.twig' %}

{% endblock Contenu %}
