{% extends '::frontend/layoutdetail.html.twig' %}
{% block Title %} Services | HomeMobilite - Vente - Location - Loue {% endblock %}

{% block headerMenuFrontend %}
    {{   render (controller("EmFrontendBundle:Frontend:headerMenuFrontend",{'slug': slug})) }}
{% endblock headerMenuFrontend %}

{% block titremenu %}<span class="btn-large btn-danger"> Services </span> {% endblock titremenu %}
{% block Contenu %}

    {% include 'EmFrontendBundle:filesContent:newsContent.html.twig' %}

{% endblock Contenu %}