{% extends '::frontend/layoutdetail.html.twig' %}
{% block Title %} {{ entity.title }} | HomeMobilite - Vente - Location - Loue {% endblock %}

{% block headerMenuFrontend %}
    {{   render (controller("EmFrontendBundle:Frontend:headerMenuFrontend",{'slug': 'proprietaire'})) }}
{% endblock headerMenuFrontend %}

{% block titremenu %} <span class="btn-large btn-danger">{{ entity.titre|capitalize }}</span> {% endblock titremenu %}
{% block Contenu %}

    {% include 'EmFrontendBundle:filesContent:proprietaireContent.html.twig' %}

{% endblock Contenu %}