<div class="col-md-9">
    <ul class="booking-list">
        <li>
            <a class="booking-item">
                <div class="row">
                    <div class="col-md-3">
                        <img src="img/800x600.png" alt="Image Alternative text" title="LHOTEL PORTO BAY SAO PAULO lobby" />
                    </div>
                    <div class="col-md-6">
                        <h5 class="booking-item-title">Standard Double room</h5>
                        <p class="text-small">Condimentum tempor suscipit porta elementum consectetur diam dignissim aptent augue maecenas ridiculus aliquam</p>
                        <ul class="booking-item-features booking-item-features-sign clearfix">
                            <li rel="tooltip" data-placement="top" title="Adults Occupancy"><i class="fa fa-male"></i><span class="booking-item-feature-sign">x 2</span>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Beds"><i class="im im-bed"></i><span class="booking-item-feature-sign">x 1</span>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Room footage (square feet)"><i class="im im-width"></i><span class="booking-item-feature-sign">470</span>
                            </li>
                        </ul>
                        <ul class="booking-item-features booking-item-features-small clearfix">
                            <li rel="tooltip" data-placement="top" title="Air Conditioning"><i class="im im-air"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Flat Screen TV"><i class="im im-tv"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Mini Bar"><i class="im im-bar"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Bathtub"><i class="im im-bathtub"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Kitchen"><i class="im im-kitchen"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Patio"><i class="im im-patio"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Soundproof"><i class="im im-soundproof"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="SPA tub"><i class="im im-spa"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Terrace"><i class="im im-terrace"></i>
                            </li>
                            <li rel="tooltip" data-placement="top" title="Washing Machine"><i class="im im-washing-machine"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3"><span class="booking-item-price">$284</span><span>/night</span><span class="btn btn-primary">Book</span>
                    </div>
                </div>
            </a>
        </li>

    </ul>
</div>