{% extends "::frontend/Layout.html.twig" %}
 {% block breadcrumb %}
      <ul class="breadcrumb">
           <li><a href="{{ path('em_frontend_homepage') }}">Accueil</a>
           </li>
           <li class="active">Liste Hôtelières</li>
      </ul>
 {% endblock breadcrumb %}
{% block titrenews %}
     <div class="container">
          <h3 class="text-success pull-right"> Côte d'Ivoire établissements Hôteliers </h3>
     </div>
{% endblock titrenews %}
{% block contenu %}

     {% include('EmFrontendBundle:ContenusLayout:listehotelsbyprixContenu.html.twig') %}

{% endblock contenu %}