{% extends "::frontend/Layout.html.twig" %}

 {% block breadcrumb %}
     <ul class="breadcrumb">
         <li><a href="{{ path('em_frontend_homepage') }}">Accueil</a>
         </li>
         <li class="active">news</li>
     </ul>
 {% endblock breadcrumb %}
{% block titrenews %}
    <div class="container">
        <h2 class="page-title">Actualités </h2>
    </div>
{% endblock titrenews %}
{% block contenu %}

    {% include('EmFrontendBundle:ContenusLayout:newsContenu.html.twig') %}

{% endblock contenu %}