<div class="col-md-3 zero-horizontal-padding">
    <aside class="sidebar sidebar-property-detail">
        <section class="widget widget-featured-properties">
            <h3 class="advance-search-widget-title"><i class="fa fa-search"></i>Recherche </h3>
            <ul class="widget-featured-properties">

                <li>

                    <h4 class="featured-properties-title"><a href="#">Hôtels</a></h4>
                </li>
                <li>

                    <h4 class="featured-properties-title"><a href="#">Appartements</a></h4>
                </li>
                <li>

                    <h4 class="featured-properties-title"><a href="#">Residences</a></h4>
                </li>
            </ul>
        </section>

           {{ render(controller('EmFrontendBundle:Frontend:renderRecommander')) }}
    </aside>
    <!-- .sidebar -->
</div>
