
<div class="col-lg-8 col-xs-12">

    <h2 class="text-center">
        <i class="fa fa-gift round box-icon-large box-icon-center box-icon-success animate-icon-left-to-right round mb30"></i>
        Merci , {{ reservation.prenoms }}  <br>votre reservation à été pré-enregistré !
    </h2>
    <i class="fa fa-hotel"></i> Numéro de reservation : <strong>{{ reservation.numeroreservation }}</strong>

    <p> Veuillez confirmer votre reservation dès maintenant,
        en validant le lien qui vous a été envoyé sur votre adresse: <strong> {{ reservation.email }}</strong>
    </p>


</div>

