.container-with-background {
  background: url('../images/manor-house.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0.1em;
  margin-top: -4.5em !important;
  margin-bottom: 1.5em !important;
  min-height: 25em;
}

/* ul.filter{
color:red !important;
  } */

/* div.item-header-menu{
    color: #ffffff;
    font-size: 0.9em!important;
  } */

.header-top .ico-item {
  font-size: 0.9em !important;
}

/* .nav>li {
    background: #ad5eea !important;
  } */

.logo>img {
  width: 155px !important;
  height: 58px !important;
}

.prj-item .bottom-project-section .points {
  color: darkgreen !important;
}

.prj-item .bottom-project-section .feedable-time {
  color: maroon !important;
}

.proj-filter-header {
  background: whitesmoke;
  /* opacity: 0.9; */
  margin-top: 5em;
  margin-bottom: 5em;
}

.container-search {
  /* vertical-align: middle !important; */
  margin-top: 2em;
  margin-bottom: 2em;
}

.footer a {
  color: #d7d8da !important;
}

h4.footer {
  font-size: 1.2em !important;
}

.footer {
  /* background: #353e44 !important; */
  padding-top: 10px !important;
  color: #f4f4f4 !important;
  font-size: 0.8em !important;
}