<div class="row" style="background:#353e44; ">
    <footer class="footer">
        <div class="col-xs-12 col-lg-3">
            <h4>Mode de payement</h4>
            <ul class="">
                <li>
                    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                    <span class="sr-only"> </span>Mastercard</li>
                <li>
                    <i class="fa fa-cc-visa" aria-hidden="true"></i>
                    <span class="sr-only"> </span>Visa</li>
                <li>
                    <i class="fa fa-cc-paypal" aria-hidden="true"></i>
                    <span class="sr-only"> </span>Paypal</li>
                <!-- <li><i class="fa fa-cc-mastercard" aria-hidden="true"></i> <span class="sr-only"> </span>-mastercard</li> -->

            </ul>
        </div>

        <div class="col-xs-12 col-lg-3">
            <h4>ETABLISSEMENTS</h4>
            <ul class="">
                <li>
                    <a href="#">Appartements</a>
                </li>
                <li>
                    <a href="#">Hôtels</a>
                </li>
                <li>
                    <a href="#">Résidences</a>
                </li>
                <li>
                    <a href="#">Location de voitures</a>
                </li>
            </ul>

            <h4>SERVICES CLIENTS</h4>
            <ul class="">
                <li>
                    <a href="#">Guide Vacances</a>
                </li>
                <li>
                    <a href="#">Destinations populaires à l’étranger</a>
                </li>
                <li>
                    <a href="{{ path('em_backend_serviceLogin') }}">Déposer une annonce</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-lg-3">
            <h4>MON COMPTE</h4>
            <ul class="">
                <li>
                    <a href="{{ path('em_client_auth_serviceLogin') }}">Mes réservations</a>
                </li>
                <li>
                    <a href="{{ path('em_backend_serviceLogin') }}">Espace propriétaire</a>
                </li>
            </ul>

            <h4>DESTINATIONS</h4>
            <ul class="">
                <li>
                    <a href="#">Région</a>
                </li>
                <li>
                    <a href="#">Pays</a>
                </li>
                <li>
                    <a href="#">Villes</a>
                </li>
            </ul>
        </div>

        <div class="col-xs-12 col-lg-3">
            <h4>NOUS JOINDRE</h4>
            <ul class="">
                <li>
                    <a href="#">info@homemobilite.com</a>
                </li>
                <li>
                    <a href="#">+225 40 00 32 79</a>
                </li>
                <!-- <li>
                    <a href="#">Help</a>
                </li> -->
            </ul>

            <h4>EN SAVOIR PLUS</h4>
            <ul class="">
                <li>
                    <a href="#">
                        Qui sommes-nous?
                    </a>
                </li>
                <li>
                    <a href="#">Carrière</a>
                </li>
                <li>
                    <a href="#">Conseil</a>
                </li>
            </ul>
        </div>




    </footer>
</div>
