<div class="container">
    <article class="post">

        <header class="post-header">
                <img src="{{ asset('bundles/emfrontend/assets/img') }}/afrikhotel-cmt-marche.jpg" alt="afrikhotel-cmt-marche.jpg" title="Comment marche Afrikhotel" width="1200" height="300">
        </header>
        <div class="post-inner">
                {{ dataentity.contenu|raw}}
        </div>
    </article>

</div>

